.Adminlayout {
  position: relative;
  z-index: 1;
  background: #237babd9;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden; 
  transition: all 0.3s ease; 
}

.Adminlayout::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
  height: 100vh;
  width: 100%;
}


